*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height:200px;
    /* border:1px solid red;  */
}
.headtopbox{
    width: 100%;
    height: 50%;
    border: inherit;
    display: flex;
    flex-wrap: wrap;
}
.headlogobox{
    width: 50%;
    height:100%;
    border: inherit;
    display: flex;
    align-items: center;
    gap: 20px;

}
.haedlogo{
    width:250px;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.haedlogo p{
    font-size:50px;
    font-weight:400;
    color: white;

}
.createbuttonbox{
    width: 170px;
    height: 50px;
    border: inherit;
    background-color: rgb(165, 241, 77);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size:15px;
    border-radius:10px;
    transition:0.2s;
}
.createbuttonbox:hover{
    transform: scale(0.9);
}
.createbuttonbox_box1{
    width:80%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createbuttonbox_box1 p{
    font-size:13px;
    font-weight: bold;
    color:rgb(83, 82, 82);
}
.createbuttonbox_box2{
    width:20%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content:center;
    align-items: center;
}
.createbuttonbox_box2 img{
    width:70%;
    height: 40%;
}
.headgeneralbox{
    width: 190px;
    height:50px;
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0.205);
    display: flex;
    border-radius: 10px;
    transition: 0.2s;
}
.headgeneralbox:hover{
    transform: scale(0.9);
}
.headgeneralbox_text{
    width:50%;
    height: 100%;
    /* border: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headgeneralbox_text p{
    color: white;
    font-size:15px;
    font-weight: bold;
}
.headgeneralbox_icon{
    width:30%;
    height: 100%;
    /* border: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headgeneralbox_icon div{
    width: 30px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.headgeneralbox_icon img{
    width: 20px;
    height: 20px;
}

.headgeneralbox_menu{
    width:20%;
    height: 100%;
    /* border: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headgeneralbox_menu img{
    width:30px;
    height:30px ;
}
.headinputbox{
    width: 50%;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
}
.headinput{
    width: 600px;
    height:50px;
    border:1px solid white;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.205);

}
.headinput_box1{
    width:30%;
    height:40px;
    /* border: inherit; */
    background-color: rgba(108, 193, 226, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.headinput_box1 p{
    color: white;
    font-size:15px;
}
.headinput_box1 img{
    width: 10px;
    height:10px;
}
.headinput_box2{
    width:20%;
    height: 40px;
    /* border:inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
    ;
}
.headinput_box2 img{
    width:15px;
    height:15px;
}
.headinput_box2 p{
    font-size:15px;
    color: white;
}
.headLine{
    width:100%;
    height: 2px;
    background-color: white;

}
.headbottombox{
    width: 100%;
    height: 50%;
    border: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.headbottomboxlist1{
    width:25%;
    height:40px;
    border: inherit;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.37);
}
.headbottomboxlist1 ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.headbottomboxlist1 ul li{
    list-style: none;
    color: white;
    transition: 0.2s;
}
.headbottomboxlist1 ul li:hover{
    transform: scale(1.1);
}
.headbottomboxlist2{
    width:30%;
    height:40px;
    border: inherit;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.37);
}
.headbottomboxlist2 ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    /* border: 1px solid red; */
}
.headbottomboxlist2_icon1{
    width: 18px;
    height:18px;
    border: inherit;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(218, 218, 218);
}
.headbottomboxlist2_icon2{
    width: 17px;
    height:17px;
    border: inherit;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.headbottomboxlist2_icon3{
    width:18px;
    height:18px;
    border: inherit;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(218, 218, 218);
}
.headbottomboxlist2_icon3 p{
    font-size: 10px;
    color: white;
}

.headbottomboxlist12_icon2 p{
    font-size: 10px;
    color: white;
}
.headbottomboxlist2_icon1 p{
    color: white;
    font-size:10px;
}
.headbottomboxlist2 ul li{
    list-style: none;
    color:white;
    transition: 0.2s;
    border: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
}
.headbottomboxlist2 ul li:hover{
    transform: scale(1.1);
}

