*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bigbox{
    width: 100%;
    height:100%;
    background-image: url(../background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.head{
    width: 100%;
    height:200px;
    /* border:1px solid red;  */
}
.headtopbox{
    width: 100%;
    height: 50%;
    border: inherit;
    display: flex;
    flex-wrap: wrap;
}
.headlogobox{
    width: 50%;
    height:100%;
    border: inherit;
    display: flex;
    align-items: center;
    gap: 20px;

}
.haedlogo{
    width:250px;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.haedlogo p{
    font-size:50px;
    font-weight:400;
    color: white;

}
.createbuttonbox{
    width: 170px;
    height: 50px;
    border: inherit;
    background-color: rgb(165, 241, 77);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size:15px;
    border-radius:10px;
    transition:0.2s;
}
.createbuttonbox:hover{
    transform: scale(0.9);
}
.createbuttonbox_box1{
    width:80%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createbuttonbox_box1 p{
    font-size:13px;
    font-weight: bold;
    color:rgb(83, 82, 82);
}
.createbuttonbox_box2{
    width:20%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content:center;
    align-items: center;
}
.createbuttonbox_box2 img{
    width:70%;
    height: 40%;
}
.headgeneralbox{
    width: 190px;
    height:50px;
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0.205);
    display: flex;
    border-radius: 10px;
    transition: 0.2s;
}
.headgeneralbox:hover{
    transform: scale(0.9);
}
.headgeneralbox_text{
    width:50%;
    height: 100%;
    /* border: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headgeneralbox_text p{
    color: white;
    font-size:15px;
    font-weight: bold;
}
.headgeneralbox_icon{
    width:30%;
    height: 100%;
    /* border: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headgeneralbox_icon div{
    width: 30px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.headgeneralbox_icon img{
    width: 20px;
    height: 20px;
}

.headgeneralbox_menu{
    width:20%;
    height: 100%;
    /* border: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headgeneralbox_menu img{
    width:30px;
    height:30px ;
}
.headinputbox{
    width: 50%;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
}
.headinput{
    width: 600px;
    height:50px;
    border:1px solid white;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.205);

}
.headinput_box1{
    width:30%;
    height:40px;
    /* border: inherit; */
    background-color: rgba(108, 193, 226, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.headinput_box1 p{
    color: white;
    font-size:15px;
}
.headinput_box1 img{
    width: 10px;
    height:10px;
}
.headinput_box2{
    width:20%;
    height: 40px;
    /* border:inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
    ;
}
.headinput_box2 img{
    width:15px;
    height:15px;
}
.headinput_box2 p{
    font-size:15px;
    color: white;
}
.headLine{
    width:100%;
    height: 2px;
    background-color: white;

}
.headbottombox{
    width: 100%;
    height: 50%;
    border: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.headbottomboxlist1{
    width:25%;
    height:40px;
    border: inherit;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.37);
}
.headbottomboxlist1 ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.headbottomboxlist1 ul li{
    list-style: none;
    color: white;
    transition: 0.2s;
}
.headbottomboxlist1 ul li:hover{
    transform: scale(1.1);
}
.headbottomboxlist2{
    width:30%;
    height:40px;
    border: inherit;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.37);
}
.headbottomboxlist2 ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    /* border: 1px solid red; */
}
.headbottomboxlist2_icon1{
    width: 18px;
    height:18px;
    border: inherit;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(218, 218, 218);
}
.headbottomboxlist2_icon2{
    width: 17px;
    height:17px;
    border: inherit;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.headbottomboxlist2_icon3{
    width:18px;
    height:18px;
    border: inherit;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(218, 218, 218);
}
.headbottomboxlist2_icon3 p{
    font-size: 10px;
    color: white;
}

.headbottomboxlist12_icon2 p{
    font-size: 10px;
    color: white;
}
.headbottomboxlist2_icon1 p{
    color: white;
    font-size:10px;
}
.headbottomboxlist2 ul li{
    list-style: none;
    color:white;
    transition: 0.2s;
    border: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
}
.headbottomboxlist2 ul li:hover{
    transform: scale(1.1);
}






.product2imgbox{
    width: 100%;
    height:150px;
    border: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.product3imgbox{
    width: 100%;
    height:150px;
    border: inherit;
}
.product4imgbox{
    width: 100%;
    height:150px;
    border: inherit;
}
.product5imgbox{
    width: 100%;
    height:150px;
    border: inherit;
}
.product6imgbox{
    width: 100%;
    height:150px;
    border: inherit;
}
.product2imgboxtopbox{
    width: 100%;
    height: 30px;
    border: inherit;
    background-color: rgb(156, 156, 255);
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.product2imgboxtopbox p{
    font-size:15px;
    font-weight: bold;
}
.product2imgboxmiddlebox{
    width: 100%;
    height:30px;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2imgboxmiddlebox p{
    font-size: 40px;
    color: white;
    font-weight: 400;
}
.product2imgboxbottombox{
    width: 100%;
    height: 30px;
    border: inherit;
    background-color: rgba(255, 255, 255, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2imgboxbottombox p{
    color: white;
    font-size: 20px;
}
.product3imgboxtopbox{
    width: 100%;
    height: 30px;
    border: inherit;
    background-color: rgb(165, 241, 77);

}
.product4imgboxtopbox{
    width: 100%;
    height: 30px;
    border: inherit;
    background-color: orange;
}
.product5imgboxtopbox{
    width: 100%;
    height: 30px;
    border: inherit;
    background-color: rgb(233, 233, 142);
}
.product6imgboxtopbox{
    width: 100%;
    height: 30px;
    border: inherit;
}
.product2cont1{
    width: 100%;
    height: 200px;
    border: inherit;
    border-radius: 20px;
    background-color: white;
    display: flex;
    position: relative;
}
.product2cont1infobox{
    width:80%;
    height: 100%;
    border: inherit;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}
.product2cont1iconbox{
    width:20%;
    height: 100%;
    border: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap:5px;
}
.product2cont1iconboxicon1{
    width: 20px;
    height:15px;
    border:inherit;
    border-radius:10px;
    background-color: rgb(218, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2cont1iconboxicon1 p{

    color: white;
}
.product2cont1iconboxicon2{
    width: 20px;
    height:20px;
    border:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2cont1iconboxicon2 img{
    width: 100%;
    height: 100%;
}
.product2cont1iconboxicon3{
    width: 20px;
    height:20px;
    border:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2cont1iconboxicon3 img{
    width: 100%;
    height: 100%;
}
.product2cont1iconboxicon4{
    width: 20px;
    height:20px;
    border:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2cont1iconboxicon4 img{
    width: 100%;
    height: 100%;
}
.product2cont1Pricebox{
    width:100%;
    height: 20px;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left:20px;
}
.product2cont1Pricebox p{
    font-size:15px;
    color: rgb(78, 77, 77);
}
.product2cont1Dealbox{
    width:100%;
    height: 20px;
    border: inherit;
    display: flex;
    align-content: center;
    padding-left:20px;

}
.product2cont1Dealbox p{
    color: black;
}
.product2cont1Datebox{
    width:100%;
    height: 20px;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left:20px;
    
}
.product2cont1Datebox p{
    font-size:13px;
    color: rgb(78, 77, 77);
}
.product2cont1Personbox{
    width:100%;
    height: 20px;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left:20px;
    gap: 5px;
}
.product2cont1Personbox_img{
    width: 20px;
    height:20px;
    border:1px solid rgb(110, 110, 110);
    border-radius: 50px;
}
.product2cont1botombox{
    width:100%;
    height: 30px;
    border: inherit;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top:170px;
    left:2px;
}
.product2cont1botomboxActivity{
    height: 100%;
    border: inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}
.product2cont1botomboxActivity p{
    color: rgb(117, 116, 116);
    font-size:15px;
}
.product2cont1botomboxPerson{
    width: 50%;
    height: 100%;
    border: inherit;
    display: flex;
}
.product2cont1botomboxPerson p{
    color:rgb(117, 116, 116);
    font-size: 15px;
}
.product2cont1botomboxPersonnDate{
    width: 60%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2cont1botomboxPersonnImg{
    width:40%;
    height: 100%;
    border:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product2cont1botomboxPersonnImg div{
    width: 20px;
    height:20px;
    border:1px solid rgb(110, 110, 110);
    border-radius: 50px;
}

.product2cont1Personbox p{
    font-size:13px;
    color: rgb(6, 90, 247);
}
.product2cont2{
    width: 100%;
    height: 200px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;
}
.product2cont3{
    width: 100%;
    height: 200px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;

}
.product3cont1{
    width: 100%;
    height:250px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;

}
.product4cont1{
    width: 100%;
    height: 200px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;

}
.product4cont2{
    width: 100%;
    height: 200px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;
}
.product5cont1{
    width: 100%;
    height:250px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;

}
.product6cont1{
    width: 100%;
    height:250px;
    /* border: inherit; */
    border-radius: 20px;
    background-color: white;

}